*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body ,
html{
    scroll-behavior: smooth;
    
}

body{
    background-color: rgba(30, 26, 59, 0.918);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
                0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.title{
    font-size: 26px;
    font-weight: bold;
    color: bisque;
}

.filter{
    width: auto;
    height: auto;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.116);
    color: white;
    border: none;
    display: flex;
    padding: 10px;
    gap: 40px;
}

.filter:hover{
    background-color: rgba(0, 0, 0, 0.445);
}

#search{
    width: 150px;
    height: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    outline: none;
    border: none;
    padding: 10px;
}

#search:hover{
    background-color: rgba(0, 0, 0, 0.445);
}

#search:focus{
    background-color: rgba(0, 0, 0, 0.445);
}

#Continents{
    width: 150px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    outline: none;
    border: none;
    padding: 10px;
}

#Continents option{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.445);
}

main{
    width: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    margin: 20px;
    color: white;
    justify-content: center;
}

.countries{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.445);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
                0 4px 8px rgba(0, 0, 0, 0.1);
}

.countries img{
    width: 200px;
    height: 160px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
                0 4px 8px rgba(0, 0, 0, 0.1);
}

.country-info{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.country-name{
    font-size: 20px;
    font-weight: bold;
}

.country-Continents{
    font-size: 18px;
}

.country-population{
    font-size: 16px;
}


.Modal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
                0 4px 8px rgba(0, 0, 0, 0.1)
}

